@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  font-family: "Iowan Old Style", "Palatino Linotype", Georgia, serif;
}

.font-mono-ui {
  font-family: ui-monospace, "SF Mono", Menlo, monospace;
}
